@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<button data-bind="click: clearItems">Clear</button>

<div data-bind="kendoGrid: items"></div>

<link href="~/Content/kendo/2012.3.1114/kendo.common.min.css" rel="stylesheet" />
<link href="~/Content/kendo/2012.3.1114/kendo.metro.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.8.3.min.js"></script>
<script src="~/Scripts/knockout-2.2.0.js"></script>
<script src="~/Scripts/kendo/2012.3.1114/kendo.web.min.js"></script>
<script src="~/Scripts/knockout-kendo.min.js"></script>
<script src="~/Scripts/app/model.js"></script>
<script src="~/Scripts/app/viewModel.js"></script>